
.content p {
  font-weight: 300;
}

.errorCode {
  align-items: flex-end;
  display: flex;
  flex: 1;
  justify-content: center;
  margin-top: 2em;
}

.errorCode span {
  border-left: 4px solid #007300;
  font-size: 1.4rem;
  font-weight: 100;
  letter-spacing: 0.1em;
  line-height: 2.2em;
  padding: 0 2vw;
}
