.testimony {
  background-color: #e6f4e6;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.testimony h2 {
  font-family: 'Chakra Petch', sans-serif;
}

.testimonydiv {
  background-color: #e6f4e6;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px auto;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 30%;
  padding: 3rem 2rem;
}

.card p {
  line-height: 1.5rem;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 17px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #007300;
  border-radius: 50%;
  width: 70px;
  background-color: #fafdfa;
  height: 70px;
}

.card img {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

h3 {
  font-size: 18px;
  font-weight: 600;
  margin: 12px 0 24px 0;
}

