.contact {
  display: flex;
  /* align-items: flex-start; */
  margin-bottom: 0.25rem;
  font-size: 1.1rem;
  text-align: left;
}

.contact svg {
  margin-right: 1rem;
  max-width: 20px;
}

.contact a {
  font-size: inherit;
  font-weight: normal;
}

.social {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.social li {
  margin-right: 1rem;
}

.social a {
  color: white;
}

.social svg {
  font-size: 20px;
}

.LinksContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.75rem;
  margin: 1rem 0;
}

.LinksContainer a {
  font-size: 16px;
  width: fit-content;
}
