@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500;600;700&family=Inter:wght@400;500&display=swap");

.sectionOne {
  text-align: center;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* font-size: 1.2rem; */
}

.h1 {
  font-family: "Chakra Petch", sans-serif;
  /* font-size: 55px; */
  /* line-height: 65px; */
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 15px;
}

.highlight {
  color: #007300;
}

.sectionOne button:hover {
  cursor: pointer;
  opacity: 0.9;
}

.showcase {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-sizing: border-box;
  width: 100%;
  margin-top: 10px;
}

.showcase img {
  width: 100%;
  height: 100%;
}

.grey {
  filter: grayscale(1);
}

.card {
  background-color: #007300;
  color: #fff;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card div {
  display: flex;
  gap: 14px;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 40px 0;
  width: 100%;
  font-family: "Chakra Petch", sans-serif;
}

.card div h2 {
  font-size: 45px;
}

.card div p {
  font-size: 18px;
  line-height: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
