body {
  margin: 0;
  font-family: Inter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
}

p {
  line-height: 2.2;
}

li {
  list-style: none;
}

.btn-green {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007300;
  color: #fff;
  width: 280px;
  padding: 0.8rem 4px;
  border: none;
  font-size: 25px;
}
