@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
}

h2 {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 45px;
  margin: 0;
}

p {
  line-height: 2.2;
}

li {
  list-style: none;
}

.btn-green {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007300;
  color: #fff;
  width: 280px;
  padding: 0.8rem 4px;
  border: none;
  font-size: 25px;
}

.btn-green-shade {
  font: inherit;
  background: none;
  color: #007300;
  border: 2px solid #bddcbd;
  border-radius: 5px;
  padding: 0.5rem 2.5rem;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
}


.active {
  color: #007300;
  border-bottom: 2px solid #007300;
}

.btn-green {
  background-color: #005a00;
  color: #fff;
}